@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Sentinel;
    src: url("../font/Sentinel.woff") format("woff");
}

* {
    font-family: Sentinel, Roboto, system-ui, sans-serif;
}

html.dark body {
    @apply bg-zinc-950
}

html.light body {
    @apply bg-white
}